.App {
  padding: 10px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.VideoCard {
  border:  1px solid;
  padding: 10px;
  margin-bottom: 3px;
  min-height: 200px;
}

.VideoCard .input-row {
  display: flex;
  align-items: flex-start;
}
.VideoCard .input-row textarea {
  flex: 1;
  max-width: 400px;
  min-height: 100px;
}